/*-----------------------------------*/

:root {

    --azul-escuro: #132235;
    --azul-turqueza: #6ddad3;
    --branco: #FFFFFF;
    --familia-corpo: "Montserrat", sans-serif;
    --familia-fonte-nav: "Arial", "Helvetica", "sans-serif";
    --familia-fonte-p:'Open Sans', sans-serif;


}

/*-----------------------------------*/