/*-----------------------------------*/

@import url(_variaveis.css);

/*-----------------------------------*/

@import url(_reset.css);

/*-----------------------------------*/


/*-----------------------------------*/

*{

    margin: 0;

    padding: 0;

}

/*-----------------------------------*/

body{

    overflow-x: hidden;

}

/*-----------------------------------*/

html{

    scroll-behavior: smooth;

}

/*-----------------------------------*/

#container{

    font-family: var(--familia-corpo);

    font-size: var(--tamanho-corpo);

    padding: 0 1rem;

}

/*-----------------------------------*/

p{

    font-family: var(--familia-fonte-p);

}

/*-----------------------------------*/

