/*-----------------------------------*/

@media(max-width:400px){

    /*-----------------------------------*/

    .ofertas{

        height: 100vh;

    }

    /*-----------------------------------*/

    .form{

        text-align: center;

        
    }

    /*-----------------------------------*/

    .input__form{

        padding: 1rem ;

    }

    /*-----------------------------------*/

    .botao__oferta{

        padding: 0.8rem;

    }
    
    /*-----------------------------------*/
    
}

/*-----------------------------------*/

@media(max-width:600px){

    /*-----------------------------------*/
   
    .titulo__cartao{

        font-size: 1.5rem;

    }

    /*-----------------------------------*/

}

/*-----------------------------------*/

@media(max-width: 950px) {

    /*-----------------------------------*/

    .form{

        display: flex;

        justify-content: space-between;

    }

    /*-----------------------------------*/

    .imagem--form{

        display: none;

    }

    /*-----------------------------------*/

    .oferta__formulario{

        width: 88%;

    }

    /*-----------------------------------*/
    
}

/*-----------------------------------*/